.button {
    -fx-background-color: linear-gradient(#C04513, #8B4513);
    -fx-text-fill: lightsalmon;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(#8B4513, #C04513);
    -fx-text-fill: lightsalmon;
    -fx-font-weight: bold;
}

.layout {
    -fx-padding: 15 15 15 15;
    -fx-background-color: linear-gradient(#FFA07A, #9E6341);
}

.turnText {
    -fx-font-family: verdana;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-fill: linear-gradient(#8B4513, #C04513);
}

.infoText {
    -fx-font-family: verdana;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-fill: linear-gradient(#8B4513, #C04513);
}

.textWhite {
    -fx-font-family: verdana;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-fill: white;
}

.textBlack {
    -fx-font-family: verdana;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-fill: black;
}


.blackPiece:hover, .blackKingPiece:hover {
    -fx-fill: maroon;
    -fx-border-style: solid inside;
    -fx-border-width: 10;
    -fx-border-insets: 5;
    -fx-border-color: black;
}


.whitePiece:hover, .whiteKingPiece:hover{
    -fx-fill: maroon;
    -fx-border-style: solid;
    -fx-border-insets: 5;
    -fx-border-width: 10;
    -fx-border-color: black;
}

.gameBoard {
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-border-insets: 5;
    -fx-border-radius: 2;
    -fx-background-color: saddlebrown;
    -fx-padding: 15;
}

.top {
    -fx-padding: 0 0 15 0;
}


